/* .checkout {
    padding: 20px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-form label {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .checkout-form input,
  .checkout-form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #5a54e6;
  }
   */