Footer.css
.footer {
    position: fixed;
    bottom: 9px;
    width: 100%;
    background-color: #343a40;  /* Dark background */
    color: white;
    padding: 0px 65px;
    text-align: center;
    
  }
  
  .footer a {
    color: #6f42c1;  /* Purple link color */
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  